yarn.lock
.DS_Store

**/package-lock.json

.bsp
target
.idea
.vscode
*.iml
.idea_modules
.git
*.sc
.tags
.tags1

node_modules
dist
logs

archive

dist

test-output
Screenshots
.settings

*.crx

bazel-*

k8s/secrets/*
.hushlogin
.ensime_cache
.ensime

*.log
*.log*

dump
coverage

nohup.out

*.pcss.d.ts
*.module.css.d.ts

# front end packages
frontend-packages/**/lib

# ignore env files
.env
